/* .toolbar {
  border-bottom: 1px solid rgb(0, 255, 64);
} */

.toolbar-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    font-size: 2.5rem;
    background-color: white;
    border-bottom: 1px solid rgb(0, 255, 64);
}

.toolbar-bottom {
    margin-top: 40px;
    background-color: white;
    border-bottom: 1px solid rgb(0, 255, 64);
}

@media only screen and (max-width: 995px) {
    
    .toolbar-nav {
        margin-top: 62px;
    }

    .toolbar-nav a {
        padding: 15px 15px 12px;
    }
}

@media only screen and (max-width: 768px) {

    .toolbar-nav {
        width: 25%;
    }
}  