.nav-items {
    position: relative;
    z-index: 1;
    left: 30%;
    margin-top: 10px;
    padding-right: 60px;
    font-size: 1.5rem;
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.nav-items-li {
    display: block;
    text-decoration: none;
    list-style: none;
    font-family: 'Permanent Marker', cursive;
    box-sizing: border-box;
    float: right;
}
